*/node_modules
*/constant
*/uploads
.vscode
*/.vscode
/.vscode
**/.env
**/*.xls
**/*.xlsx
**/*.csv
**/*.mp3
**/*.mp4
**/*.pem
**/*.crt
**/*.jpg
**/*.jpeg
**/*.png
**/*.gif
**/*.pdf
**/*.JPG
**/*.PNG
node_modules
**/common_service/db_config/*.json
**/common_service/constant/*.json
**/common_service/uploads/*.json
# /common_service/constant/constant.json 
**/logs/*.log
/.env
**/config/dbconfig.js
**/package-lock.json